*{
    font-family:Arial, Helvetica, sans-serif
    font-size: 16px;
}

body{
    background-color: #adb3bba4;
}  

main{
    background-color: #cccfd6a4;
    width: 500px;
    height: 300px;
    margin: auto;
    padding: 10px
    box-shadow: 3px 3px 5px #0000003a;
}

img.lado{
    float: right;
}